<div class="container mt-3">
  <div class="row">
    <div class="col">
      <p class="h3 fw-bold text-danger">Edit Contact</p>
      <p class="fst-italic">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto
        culpa deserunt dolores ea eaque eligendi inventore labore molestiae
        odio, odit quaerat quisquam quo repudiandae rerum sunt tenetur velit
        veniam veritatis.
      </p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <form (submit)="submitUpdate()">
        <div class="mb-2">
          <input
            required="true"
            class="form-control"
            placeholder="Name"
            type="text"
            [(ngModel)]="contact.name"
            [value]="contact.name"
            name="name"
          />
        </div>
        <div class="mb-2">
          <input
            required="true"
            class="form-control"
            placeholder="Photo Url"
            type="text"
            [(ngModel)]="contact.photo"
            [value]="contact.photo"
            name="photo"
          />
        </div>
        <div class="mb-2">
          <input
            required="true"
            class="form-control"
            placeholder="Email"
            type="text"
            [(ngModel)]="contact.email"
            [value]="contact.email"
            name="email"
          />
        </div>
        <div class="mb-2">
          <input
            required="true"
            class="form-control"
            placeholder="Mobile number"
            type="number"
            [(ngModel)]="contact.mobile"
            [value]="contact.mobile"
            name="mobile"
          />
        </div>
        <div class="mb-2">
          <input
            required="true"
            class="form-control"
            placeholder="Company"
            type="text"
            [(ngModel)]="contact.company"
            [value]="contact.company"
            name="company"
          />
        </div>
        <div class="mb-2">
          <input
            class="form-control"
            placeholder="Title"
            type="text"
            [(ngModel)]="contact.title"
            [value]="contact.title"
            name="title"
          />
        </div>
        <div class="mb-2">
          <select
            required="true"
            class="form-control"
            [(ngModel)]="contact.groupId"
            [value]="contact.groupId"
            name="groupId"
          >
            <option value="">Select a Group</option>
            <option *ngFor="let group of groups" [value]="group.id">{{group.name}}</option>
          </select>
        </div>
        <div class="mb-2">
          <input class="btn btn-danger" value="Update" type="submit" />
          <a routerLink="/" class="btn btn-dark ms-2">Close</a>
        </div>
      </form>
    </div>
    <div class="col-sm-4">
      <img class="contact-img" [src]="contact.photo"/>
    </div>
  </div>
</div>
