<div class="container mt-3">
  <div class="row">
    <div class="col">
      <p class="h3 fw-bold text-danger">Add Contact</p>
      <p class="fst-italic">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto
        culpa deserunt dolores ea eaque eligendi inventore labore molestiae
        odio, odit quaerat quisquam quo repudiandae rerum sunt tenetur velit
        veniam veritatis.
      </p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <form (submit)="createSubmit()">
        <div class="mb-2">
          <input
            required="true"
            class="form-control"
            placeholder="Name"
            type="text"
            name="name"
            [(ngModel)]="contact.name"
          />
        </div>
        <div class="mb-2">
          <input
            required="true"
            class="form-control"
            placeholder="Photo Url"
            type="text"
            name="photo"
            [(ngModel)]="contact.photo"
          />
        </div>
        <div class="mb-2">
          <input
            required="true"
            class="form-control"
            placeholder="Email"
            type="text"
            name="email"
            [(ngModel)]="contact.email"
          />
        </div>
        <div class="mb-2">
          <input
            required="true"
            class="form-control"
            placeholder="Mobile number"
            type="number"
            name="mobile"
            [(ngModel)]="contact.mobile"
          />
        </div>
        <div class="mb-2">
          <input
            required="true"
            class="form-control"
            placeholder="Company"
            type="text"
            name="company"
            [(ngModel)]="contact.company"
          />
        </div>
        <div class="mb-2">
          <input
            required="true"
            class="form-control"
            placeholder="Title"
            type="text"
            name="title"
            [(ngModel)]="contact.title"
          />
        </div>
        <div class="mb-2">
          <select
            required="true"
            class="form-control"
            *ngIf="groups.length > 0"
            name="groupId"
            [(ngModel)]="contact.groupId"
            place
          >
            <option value="">Select a Group</option>
            <option [value]="group.id" *ngFor="let group of groups">
              {{ group.name }}
            </option>
          </select>
        </div>
        <div class="mb-2">
          <input class="btn btn-danger" value="Create" type="submit" />
          <a routerLink="/" class="btn btn-dark ms-2">Close</a>
        </div>
      </form>
    </div>
    <div class="col-sm-4">
      <img class="contact-img" [src]="contact.photo" alt="" />
    </div>
  </div>
</div>
